/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  color: yellow;
  font-size: 18px;
}

#nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  justify-content: space-evenly;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
 
  
}
a {
  color:black;
  background: linear-gradient(white, lightcyan);
  text-decoration: none;
 


}





body {
  padding: 20px;
  font-family: "Dancing Script", cursive;
  background-color: lightcyan;
  border:aqua solid 20px;
}

#profile {
  display: flex;
  border-radius: 150px;
  width: 100px;
  box-shadow: 0 10px 20px cyan;
}
  




h1:hover {
  color: green;
}

/* Teacher image section */
.teacher-image img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  display: flex;
  margin: 20px auto;
  padding: 0;
  
}

/* Bio section */
.bio {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  font-weight: bolder;
  font-size: 25px;
  padding-top: 45px;
  ;
}

/* Experience list styles */
.experience {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  list-style-type: none;
  padding-left: 20px;
  font-size: 25px;
  padding-top: 50px;
  justify-content: space-evenly;
}

section#Experience {
  background: linear-gradient(cyan, white);
  max-width: 100%;
  
}
.Python {
  display: flex;
  flex-direction: column;
  flex-shrink: none;
  flex-wrap: wrap;
  font-family:  'Roboto Mono', monospace;
  border: dotted;
  margin: 10px 10px 0 0;
  text-align: center;
  border-radius: 50px;
  width: 600px;
  height: 200px;
  font-size: 20px;
  background-color: cyan;
}
.substance-abuse-counselor {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  font-family:  'Roboto Mono', monospace;
  border: dotted;
  margin: 10px 10px 0 0;
  text-align: center;
  border-radius: 50px;
  width: 600px;
  height: 200px;
  font-size: 20px;
  background-color: cyan;
}
  
.freecodecamp {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  font-family:  'Roboto Mono', monospace;
  border: dotted;
  margin: 10px 10px 0 0;
  text-align: center;
  border-radius: 50px;
  width: 600px;
  height: 200px;
  font-size: 20px;
  background-color: cyan;
  padding: 8px;
}

.clinical-mental-health-counseling {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  font-family:  'Roboto Mono', monospace;
  border: dotted;
  margin: 10px 10px 0 0;
  text-align: center;
  border-radius: 50px;
  width: 600px;
  height: 200px;
  font-size: 20px;
  background-color: cyan;
}



















.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  padding-top: 25px;

}

.Projects {
  display: flex;
  padding-top: 50px;
}

.linked-container ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}

.linked-container a {
  text-decoration: none;
}

.footer img{
  padding-top: 200px;
  display: flex;
 
  
}

